# Exam

In [1]:
 !conda install -c conda-forge beautifulsoup4 --yes

 !conda install -c conda-forge geopy --yes

 !conda install -c conda-forge folium=0.5.0 --yes

print('Libraries installed!')

Collecting package metadata (current_repodata.json): done
Solving environment: done

# All requested packages already installed.

Collecting package metadata (current_repodata.json): done
Solving environment: done

# All requested packages already installed.

Collecting package metadata (current_repodata.json): done
Solving environment: done

# All requested packages already installed.

Libraries installed!

In [2]:
import numpy as np
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import requests
from pandas.io.json import json_normalize
import json

import requests

from bs4 import BeautifulSoup

from geopy.geocoders import Nominatim

import folium
import matplotlib.cm as cm
import matplotlib.colors as colors

from sklearn.cluster import KMeans

print('Libraries imported!')

Libraries imported!

# Toronto neighborhood and build a clean dataframe

In [13]:
data = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text
soup = BeautifulSoup(data, 'html.parser')

In [14]:
postalCodeList = []
boroughList = []
neighborhoodList = []

for row in soup.find('table').find_all('tr'):
    cells = row.find_all('td')
    if(len(cells) > 0):
        postalCodeList.append(cells[0].text)
        boroughList.append(cells[1].text)
        neighborhoodList.append(cells[2].text.rstrip('\n'))

In [15]:
toronto_neighorhood = [('PostalCode', postalCodeList),
                      ('Borough', boroughList),
                      ('Neighborhood', neighborhoodList)]
toronto_df = pd.DataFrame.from_dict(dict(toronto_neighorhood))
toronto_df.head()

  PostalCode             Borough               Neighborhood
0      M1A\n      Not assigned\n               Not assigned
1      M2A\n      Not assigned\n               Not assigned
2      M3A\n        North York\n                  Parkwoods
3      M4A\n        North York\n           Victoria Village
4      M5A\n  Downtown Toronto\n  Regent Park, Harbourfront

In [16]:
toronto_df_dropna = toronto_df[toronto_df.Borough != 'Not assigned'].reset_index(drop=True)
toronto_df_dropna.head()

  PostalCode             Borough               Neighborhood
0      M1A\n      Not assigned\n               Not assigned
1      M2A\n      Not assigned\n               Not assigned
2      M3A\n        North York\n                  Parkwoods
3      M4A\n        North York\n           Victoria Village
4      M5A\n  Downtown Toronto\n  Regent Park, Harbourfront

In [17]:
toronto_df_grouped = toronto_df_dropna.groupby(['PostalCode','Borough'], as_index=False).agg(lambda x: ','.join(x))
toronto_df_grouped.head()

  PostalCode         Borough                            Neighborhood
0      M1A\n  Not assigned\n                            Not assigned
1      M1B\n   Scarborough\n                          Malvern, Rouge
2      M1C\n   Scarborough\n  Rouge Hill, Port Union, Highland Creek
3      M1E\n   Scarborough\n       Guildwood, Morningside, West Hill
4      M1G\n   Scarborough\n                                  Woburn

In [18]:
na_neigh_rows = toronto_df_grouped.Neighborhood == 'Not assigned'
toronto_df_grouped.loc[na_neigh_rows, 'Neighborhood'] = toronto_df_grouped.loc[na_neigh_rows, 'Borough']
toronto_df_grouped[na_neigh_rows]

    PostalCode         Borough    Neighborhood
0        M1A\n  Not assigned\n  Not assigned\n
18       M1Y\n  Not assigned\n  Not assigned\n
19       M1Z\n  Not assigned\n  Not assigned\n
20       M2A\n  Not assigned\n  Not assigned\n
21       M2B\n  Not assigned\n  Not assigned\n
22       M2C\n  Not assigned\n  Not assigned\n
23       M2E\n  Not assigned\n  Not assigned\n
24       M2G\n  Not assigned\n  Not assigned\n
33       M2S\n  Not assigned\n  Not assigned\n
34       M2T\n  Not assigned\n  Not assigned\n
35       M2V\n  Not assigned\n  Not assigned\n
36       M2W\n  Not assigned\n  Not assigned\n
37       M2X\n  Not assigned\n  Not assigned\n
38       M2Y\n  Not assigned\n  Not assigned\n
39       M2Z\n  Not assigned\n  Not assigned\n
43       M3E\n  Not assigned\n  Not assigned\n
44       M3G\n  Not assigned\n  Not assigned\n
51       M3P\n  Not assigned\n  Not assigned\n
52       M3R\n  Not assigned\n  Not assigned\n
53       M3S\n  Not assigned\n  Not assigned\n
54       M3T\n  Not assigned\n  Not assigned\n
55       M3V\n  Not assigned\n  Not assigned\n
56       M3W\n  Not assigned\n  Not assigned\n
57       M3X\n  Not assigned\n  Not assigned\n
58       M3Y\n  Not assigned\n  Not assigned\n
59       M3Z\n  Not assigned\n  Not assigned\n
79       M4Z\n  Not assigned\n  Not assigned\n
98       M5Y\n  Not assigned\n  Not assigned\n
99       M5Z\n  Not assigned\n  Not assigned\n
114      M6T\n  Not assigned\n  Not assigned\n
115      M6V\n  Not assigned\n  Not assigned\n
116      M6W\n  Not assigned\n  Not assigned\n
117      M6X\n  Not assigned\n  Not assigned\n
118      M6Y\n  Not assigned\n  Not assigned\n
119      M6Z\n  Not assigned\n  Not assigned\n
121      M7B\n  Not assigned\n  Not assigned\n
122      M7C\n  Not assigned\n  Not assigned\n
123      M7E\n  Not assigned\n  Not assigned\n
124      M7G\n  Not assigned\n  Not assigned\n
125      M7H\n  Not assigned\n  Not assigned\n
126      M7J\n  Not assigned\n  Not assigned\n
127      M7K\n  Not assigned\n  Not assigned\n
128      M7L\n  Not assigned\n  Not assigned\n
129      M7M\n  Not assigned\n  Not assigned\n
130      M7N\n  Not assigned\n  Not assigned\n
131      M7P\n  Not assigned\n  Not assigned\n
133      M7S\n  Not assigned\n  Not assigned\n
134      M7T\n  Not assigned\n  Not assigned\n
135      M7V\n  Not assigned\n  Not assigned\n
136      M7W\n  Not assigned\n  Not assigned\n
137      M7X\n  Not assigned\n  Not assigned\n
139      M7Z\n  Not assigned\n  Not assigned\n
140      M8A\n  Not assigned\n  Not assigned\n
141      M8B\n  Not assigned\n  Not assigned\n
142      M8C\n  Not assigned\n  Not assigned\n
143      M8E\n  Not assigned\n  Not assigned\n
144      M8G\n  Not assigned\n  Not assigned\n
145      M8H\n  Not assigned\n  Not assigned\n
146      M8J\n  Not assigned\n  Not assigned\n
147      M8K\n  Not assigned\n  Not assigned\n
148      M8L\n  Not assigned\n  Not assigned\n
149      M8M\n  Not assigned\n  Not assigned\n
150      M8N\n  Not assigned\n  Not assigned\n
151      M8P\n  Not assigned\n  Not assigned\n
152      M8R\n  Not assigned\n  Not assigned\n
153      M8S\n  Not assigned\n  Not assigned\n
154      M8T\n  Not assigned\n  Not assigned\n
163      M9E\n  Not assigned\n  Not assigned\n
164      M9G\n  Not assigned\n  Not assigned\n
165      M9H\n  Not assigned\n  Not assigned\n
166      M9J\n  Not assigned\n  Not assigned\n
167      M9K\n  Not assigned\n  Not assigned\n
173      M9S\n  Not assigned\n  Not assigned\n
174      M9T\n  Not assigned\n  Not assigned\n
177      M9X\n  Not assigned\n  Not assigned\n
178      M9Y\n  Not assigned\n  Not assigned\n
179      M9Z\n  Not assigned\n  Not assigned\n

In [19]:
toronto_df_cleaned = toronto_df_grouped
toronto_df_cleaned.shape

(180, 3)

# Getting coordinates and add to the Toronto DataFrame

In [21]:
!wget -q -O "toronto_coordinates.csv" https://cocl.us/Geospatial_data
print('Coordinates downloaded!')
coors = pd.read_csv('https://cocl.us/Geospatial_data')

/bin/sh: wget: command not found
Coordinates downloaded!

In [22]:
print(coors.shape)
coors.head()

(103, 3)

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [23]:
toronto_df_temp = toronto_df_cleaned.set_index('PostalCode')
coors_temp = coors.set_index('Postal Code')
toronto_df_coors = pd.concat([toronto_df_temp, coors_temp], axis=1, join='inner')

toronto_df_coors.index.name = 'PostalCode'
toronto_df_coors.reset_index(inplace=True)

print(toronto_df_coors.shape)
toronto_df_coors.head()

(0, 5)

Empty DataFrame
Columns: [PostalCode, Borough, Neighborhood, Latitude, Longitude]
Index: []

In [24]:
address = 'Toronto, Ontario'

geolocator = Nominatim(user_agent="tl-toronto-neigh")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The geograpical coordinates of Toronto are {}, {}.'.format(latitude, longitude))

The geograpical coordinates of Toronto are 43.6534817, -79.3839347.

In [25]:
map_toronto = folium.Map(location=[latitude, longitude], zoom_start=11)

for lat, long, post, borough, neigh in zip(toronto_df_coors['Latitude'], toronto_df_coors['Longitude'], toronto_df_coors['PostalCode'], toronto_df_coors['Borough'], toronto_df_coors['Neighborhood']):
    label = "{} ({}): {}".format(borough, post, neigh)
    popup = folium.Popup(label, parse_html=True)
    folium.CircleMarker(
        [lat, long],
        radius=5,
        popup=popup,
        color='blue',
        fill=True,
        fill_color='#3186cc',
        fill_opacity=0.7,
        parse_html=False).add_to(map_toronto)
    
map_toronto

In [26]:
toronto_boroughs = ['East Toronto', 'Central Toronto', 'Downtown Toronto', 'West Toronto']
toronto_central_df = toronto_df_coors[toronto_df_coors['Borough'].isin(toronto_boroughs)].reset_index(drop=True)
print(toronto_central_df.shape)
toronto_central_df.head()

(0, 5)

Empty DataFrame
Columns: [PostalCode, Borough, Neighborhood, Latitude, Longitude]
Index: []

In [27]:
map_toronto = folium.Map(location=[latitude, longitude], zoom_start=12)

for lat, long, post, borough, neigh in zip(toronto_central_df['Latitude'], toronto_central_df['Longitude'], toronto_central_df['PostalCode'], toronto_central_df['Borough'], toronto_central_df['Neighborhood']):
    label = "{} ({}): {}".format(borough, post, neigh)
    popup = folium.Popup(label, parse_html=True)
    folium.CircleMarker(
        [lat, long],
        radius=5,
        popup=popup,
        color='blue',
        fill=True,
        fill_color='#3186cc',
        fill_opacity=0.7,
        parse_html=False).add_to(map_toronto)
    
map_toronto

In [28]:

CLIENT_ID = 'H23DJKU3OMHP511EXZ31CVISJKLEP4SH5QZIFEXADQYVD0LK' # your Foursquare ID
CLIENT_SECRET = '0NKQMHSI0A2MCNXGL2GQZNFVGD5ZGYCZY5TF2Q2IDR4R4GEL' # your Foursquare Secret
VERSION = '20190330' # Foursquare API version

print('Your credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)

Your credentails:
CLIENT_ID: H23DJKU3OMHP511EXZ31CVISJKLEP4SH5QZIFEXADQYVD0LK
CLIENT_SECRET:0NKQMHSI0A2MCNXGL2GQZNFVGD5ZGYCZY5TF2Q2IDR4R4GEL

In [35]:
radius = 500
LIMIT = 100

venues = []

for lat, long, post, borough, neighborhood in zip(toronto_central_df['Latitude'], toronto_central_df['Longitude'], toronto_central_df['PostalCode'], toronto_central_df['Borough'], toronto_central_df['Neighborhood']):
    url = "https://api.foursquare.com/v2/venues/explore?client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}".format(
        CLIENT_ID,
        CLIENT_SECRET,
        VERSION,
        lat,
        long,
        radius, 
        LIMIT)
    
    results = requests.get(url).json()["response"]['groups'][0]['items']
    
    for venue in results:
        venues.append((
            post, 
            borough,
            neighborhood,
            lat, 
            long, 
            venue['venue']['name'], 
            venue['venue']['location']['lat'], 
            venue['venue']['location']['lng'],  
            venue['venue']['categories'][0]['name']))

In [34]:
venues_df = pd.DataFrame(venues)
venues_df.columns = ['PostalCode', 'Borough', 'Neighborhood', 'BoroughLatitude', 'BoroughLongitude', 'VenueName', 'VenueLatitude', 'VenueLongitude', 'VenueCategory']
print(venues_df.shape)
venues_df.head()

ValueError: Length mismatch: Expected axis has 0 elements, new values have 9 elements

In [38]:
venues_df.groupby(['PostalCode', 'Borough', 'Neighborhood'])['VenueName'].count()

KeyError: 'PostalCode'

In [39]:
len(venues_df['VenueCategory'].unique())

KeyError: 'VenueCategory'